$primaryText: #535674;

@mixin mobile {
  @media (max-width: 725px) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}


@import 'vendor/normalize';
@import 'vendor/hamburgers';
@import 'vendor/animate';

html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: #fff;
  color: $primaryText;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
}

p {
  line-height: 1.45;
}

a {
  color: #111B9F;
  text-decoration: none;
}

@import 'objects/container';
@import 'components/Menubar';
@import 'components/Brand';
@import 'components/Nav';
@import 'components/Cartmenu';
@import 'components/Cart';
@import 'components/Hero';
@import 'components/Section';
@import 'components/MobileNav';
@import 'components/Learn';
@import 'components/Footer';
@import 'components/FooterLabel';
@import 'components/FooterNav';
@import 'components/Newsletter';
@import 'components/CartItem';
@import 'components/Checkout';
@import 'components/Button';

.u-lh {
  line-height: 1.45;
}

.u-1\/3 {
  float: left;
  width: (100% / 3);
}

.u-mt2 {
  margin-top: 2em;
}

.u-mb2 {
  margin-bottom: 2em;
}

.u-clearfix {
  @include clearfix;
}

.mt1 {
  margin-top: 1em;
}

.pt2 {
  padding-top: 2em;
}

.pl1 {
  padding-left: 1em;
}

.delay-1 {
  animation-delay: .5s;
}
.delay-2 {
  animation-delay: 1s;
}
.delay-3 {
  animation-delay: 1.25s;
}
