.c-Button {
  padding: .875em 1.875em;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;

  &.--primary {
    background-color: #0091f1;
    color: #fff;
  }

  &.--fullWidth {
    width: 100%;
  }
}
