.c-Cartmenu {
  $brick: #e33930;

  display: flex;
  align-items: center;
  font-size: .875em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  &__label {
    margin-right: .5em;
    color: $brick;

    a { text-decoration: none; }
  }

  &__icon {
    position: relative;
    display: block;
    width: 26px;
    height: 23px;
    background-image: url(../../assets/cart.svg);
    background-repeat: no-repeat
  }

  &__count:not(:empty) {
    position: absolute;
    right: -.3em;
    top: -.5em;
    padding: .3125em;
    min-height: 15px;
    min-width: 15px;
    border-radius: 50%;
    // background-color: $brick;
    // color: white;
    background-color: white;
    color: $brick;
    font-size: .875em;
    text-align: center;
  }
}
