.c-Checkout {
  color: #7e7f86;

  &__row {
    @include clearfix;

    &:not(:first-child) {
      padding: .5em 0;
    }
  }

  &__label {
    float: left;
    width: 50%;
    color: #4b4b4b;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__price {
    float: left;
    width: 50%;
    text-align: right;
  }

  .c-Button {
    margin-top: 1em;
  }
}
