.c-Footer {
  background-color: #060c63;
  color: #fff;

  a {
    color: #a7d7fb;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &__body {
    display: flex;
    padding-top: 4.375em;
    padding-bottom: 4.375em;
  }

  &__nav {
    width: 50%;
    @include clearfix;
  }

  &__newsletter {
    margin-left: auto;
  }

  &__copy {
    padding: 1.625em 0;
    background-color: #04094e;

    p {
      margin: 0;
      font-size: .625em;
      letter-spacing: 1px;
    }
  }

  @include mobile {
    &__body {
      display: block;
    }

    &__nav,
    &__newsletter {
      width: 100%;
    }
  }
}
