.c-Learn {
  position: relative;
  bottom: -2em;
  color: #fff;

  &__label {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    color: #0091f1;
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
    line-height: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
}
